body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.content {
    flex-grow: 1;
}

#time_container {
    margin-top: auto;

}
footer {
  padding-bottom: 20px;
}

table {
    font-size: xx-large;
}
